@import "styles";

* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: "The Last Shuriken";
  font-size: 14px;
  font-weight: normal;
}

// Global Styles
.bar {
  background-color: $background1;
  border-bottom-right-radius: #{$border-outer-radius}px;
  border-bottom-left-radius: #{$border-outer-radius}px;
}

.music-box {
  all: unset;
  border-bottom-right-radius: #{$border-outer-radius}px;
  border-bottom-left-radius: #{$border-outer-radius}px;
}

.music {
  background-repeat: no-repeat;
  background-position: 0% 30%;
  border-bottom-left-radius: #{$border-outer-radius}px;
  min-width: 640px;
}

.music-text {
  padding: 6px 12px;
  color: $primary;
  font-weight: bold;
  // text-shadow:
  //   -1px -1px 0 #555555,
  //   1px -1px 0 #555555,
  //   -1px 1px 0 #555555,
  //   1px 1px 0 #555555;
}

.time {
  color: $primary;
}

.sidestuff {
  color: $primary;
}

.metric scale trough highlight {
  all: unset;
  background-color: $primary;
  border-radius: #{$border-outer-radius}px;
}

.metric scale trough {
  all: unset;
  background-color: $background2;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 16px;
}

.label-ram {
  font-size: large;
}
