# Ignore everything by default
*

# Things to keep on windows
{{- if eq .chezmoi.os "windows" }}
!autohotkey/
!configstore/
!flow-launcher/
!komorebi/
!scoop/
!translucenttb/
!windows/
!yasb/
{{- end }}

# Things to keep on linux
{{- if eq .chezmoi.os "linux" }}
!.profile
!flake.nix
!gh/
!hypr/
!mako/
!mopidy/
!mpd/
!nix/
!quickshell/
!rofi/
!set-keyboard-layout.sh
!systemd/
!themes/
!wireplumber/
!zen-browser/
!nixos/
{{- end }}

# Things to keep everywhere
!.config
!.csharpierrc.json
!.gitconfig
!.ideavimrc
!.vimrc
!.vscode/
!btop/
!chezmoi/
!direnv/
!jgit/
!jj/
!lazydocker/
!lazygit/
!mods/
!nushell/
!nvim/
!opencode/
!pipes-rs/
!starship-schema.json
!starship.toml
!stylua/
!wezterm/
!yamllint/
!yazi/
!zoxide/
