nushell/history.txt
windows/LocalState/state.json
scoop/config.json
flow-launcher/UserData/Logs
flow-launcher/UserData/Cache
flow-launcher/UserData/Settings/UserSelectedRecord.json
flow-launcher/UserData/Settings/TopMostRecord.json
flow-launcher/**/*.bak
flow-launcher/UserData/Settings/History.json
flow-launcher/UserData/Settings/Plugins/Flow.Plugin.Github/Settings.json
flow-launcher/UserData/Plugins/SpotifyPremium-1.1.5/Cache
flow-launcher/UserData/Plugins/SpotifyPremium-1.1.5/security.store
flow-launcher/UserData/Settings/Plugins/Flow.Launcher.Plugin.Program/Settings.json
flow-launcher/UserData/Settings/Plugins/Steam Search/Settings.json
flow-launcher/UserData/Settings/Settings.json
thefuck/__pycache__
.netcoredbg_hist
yasb/yasb.log
