# https://wiki.hyprland.org/Configuring/Variables/#misc
misc {
    force_default_wallpaper = -1 # Set to 0 or 1 to disable the anime mascot wallpapers
    disable_hyprland_logo = false # If true disables the random hyprland logo / anime girl background. :(
}

#################
### VARIABLES ###
#################

source = ./variables.conf

$menu = rofi -case-smart -show combi -modi combi -combi-modi "window,drun,recursivebrowser"

$terminalExec = wezterm start --always-new-process
$terminalClass = org.wezfurlong.wezterm
{{- if eq .chezmoi.hostname "tower" }}
$browserExec = firefox
$browserClass = firefox
{{- else }}
$browserExec = zen-browser
$browserClass = zen
{{- end }}
$musicPlayerExec = spotify
$musicPlayerClass = Spotify
$gamesExec = steam
$gamesClass = steam

$focus_or_launch = ~/.config/hypr/scripts/focus_or_launch
$focus_game = ~/.config/hypr/scripts/focus_game
$nu_env = ~/.config/nushell/env.nu
$rofi_rider = ~/.config/hypr/scripts/rofi-rider

###################
### PERMISSIONS ###
###################

source = ./permissions.conf

###################
### ENVIRONMENT ###
###################

source = ./env.conf

################
### MONITORS ###
################

source = ./monitors/{{ .chezmoi.hostname }}.conf

#####################
### LOOK AND FEEL ###
#####################

source = ./theme.conf

###############
### PLUGINS ###
###############

source = ./plugins.conf

#############
### INPUT ###
#############

source = ./input.conf

###################
### KEYBINDINGS ###
###################

source = ./binds.conf

#############
### RULES ###
#############

source = ./rules.conf

#################
### AUTOSTART ###
#################

source = ./autostart.conf

