source = ./variables_lock.conf

# BACKGROUND
background {
    monitor = DP-1
    path = $background_h_greet
    # blur_passes = 2
    # contrast = 0.8916
    # brightness = 0.8172
    # vibrancy = 0.1696
    # vibrancy_darkness = 0.0
}

# BACKGROUND
background {
    monitor = DP-2
    path = $background_v
    # blur_passes = 2
    # contrast = 0.8916
    # brightness = 0.8172
    # vibrancy = 0.1696
    # vibrancy_darkness = 0.0
}

# BACKGROUND
background {
    monitor = eDP-1
    path = $background_h_greet
    # blur_passes = 2
    # contrast = 0.8916
    # brightness = 0.8172
    # vibrancy = 0.1696
    # vibrancy_darkness = 0.0
}

# BACKGROUND
background {
    monitor = DP-6
    path = $background_h
    # blur_passes = 2
    # contrast = 0.8916
    # brightness = 0.8172
    # vibrancy = 0.1696
    # vibrancy_darkness = 0.0
}

# BACKGROUND
background {
    monitor = DP-7
    path = $background_w
    # blur_passes = 2
    # contrast = 0.8916
    # brightness = 0.8172
    # vibrancy = 0.1696
    # vibrancy_darkness = 0.0
}

# GENERAL
general {
    no_fade_in = false
    grace = 0
    disable_loading_bar = false
}

# INPUT FIELD
input-field {
    monitor = DP-1
    size = 250, 60
    outline_thickness = 2
    dots_size = 0.2 # Scale of input-field height, 0.2 - 0.8
    dots_spacing = 0.2 # Scale of dots' absolute size, 0.0 - 1.0
    dots_center = true
    outer_color = rgba(0, 0, 0, 0)
    inner_color = rgb($primary)
    font_color = rgb($background0)
    check_color = rgb($working)
    fail_color = rgb($error)
    fade_on_empty = false
    font_family = $font_primary_style
    placeholder_text = <i><span foreground="##$background0">Enter Pass</span></i>
    hide_input = false
    position = -575, -225
    halign = center
    valign = center
    rounding = $border_outer_radius
}

# INPUT FIELD
input-field {
    monitor = eDP-1
    outline_thickness = 2
    dots_size = 0.2 # Scale of input-field height, 0.2 - 0.8
    dots_spacing = 0.2 # Scale of dots' absolute size, 0.0 - 1.0
    dots_center = true
    outer_color = rgba(0, 0, 0, 0)
    inner_color = rgb($primary)
    font_color = rgb($background0)
    check_color = rgb($working)
    fail_color = rgb($error)
    fade_on_empty = false
    font_family = $font_primary_style
    placeholder_text = <i><span foreground="##$background0">Enter Pass</span></i>
    hide_input = false
    {{- if eq .chezmoi.hostname "pod" }}
    position = -600, -400
    size = 500, 120
    {{- else }}
    position = -475, -225
    size = 250, 60
    {{- end }}
    halign = center
    valign = center
    rounding = $border_outer_radius
}

# Time
label {
    monitor = DP-1
    text = cmd[update:1000] echo "<span>$(date +"%H:%M")</span>"
    color = rgb($primary)
    font_size = 130
    font_family = $font_primary_style
    position = -575, 240
    halign = center
    valign = center
}

# Time
label {
    monitor = eDP-1
    text = cmd[update:1000] echo "<span>$(date +"%H:%M")</span>"
    color = rgb($primary)
    font_size = 130
    font_family = $font_primary_style
    {{- if eq .chezmoi.hostname "pod" }}
    position = -600, 240
    font_size = 260
    {{- else }}
    position = -475, 240
    font_size = 130
    {{- end }}
    halign = center
    valign = center
}

# Day-Month-Date
label {
    monitor = DP-1
    text = cmd[update:1000] echo -e "$(date +"%d")"
    color = rgb($primary)
    font_size = 30
    font_family = $font_primary_style
    position = -575, 105
    halign = center
    valign = center
}

# Day-Month-Date
label {
    monitor = eDP-1
    text = cmd[update:1000] echo -e "$(date +"%d")"
    color = rgb($primary)
    font_family = $font_primary_style
    {{- if eq .chezmoi.hostname "pod" }}
    position = -600, 50
    font_size = 60
    {{- else }}
    position = -475, 105
    font_size = 30
    {{- end }}
    halign = center
    valign = center
}

# USER
label {
    monitor = DP-1
    text = $USER
    color = rgb($primary)
    font_size = 25
    font_family = $font_secondary_style
    position = -575, -130
    halign = center
    valign = center
}

# USER
label {
    monitor = eDP-1
    text = $USER
    color = rgb($primary)
    font_family = $font_secondary_style
    {{- if eq .chezmoi.hostname "pod" }}
    position = -600, -280
    font_size = 50
    {{- else }}
    position = -475, -130
    font_size = 25
    {{- end }}
    halign = center
    valign = center
}
